
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  letter-spacing:0.1rem;
}

#contact img {
  max-width: 80%;
  z-index: -2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact h1 {
  line-height: 3.5rem;
  font-family: "Myriad";
  font-weight: 900;
  /* font-family: "Myriad Pro Bold"; */
  line-height: 2.8rem;
  font-size: 3.5rem;
  margin-bottom: 0.22rem;
  
}

#contact p {
  text-align: start;
  margin: 0rem 1rem 3rem 0rem;
}

#contact .form {
  margin-left: 5rem;
  margin-top: 7rem;
}

#contact .contact-form {
  z-index: 100;
}

#contact .contact-form form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.65rem;
  width: 30vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5rem;
  border: 2px solid #efefef;
  border-radius: 10px;
}

#contact .contact-form form label {
  padding: 0.5rem 0rem;
}

#contact .contact-form form textarea {
  padding: 0.65rem;
  margin-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  border: 2px solid #efefef;
  border-radius: 10px;
  width: 30vw;
}

#contact .contact-form form textarea ::-webkit-input-placeholder {
  margin-top: 0.5rem;
  font-size: 1.5em;
}

#contact .contact-form form textarea :-ms-input-placeholder {
  margin-top: 0.5rem;
  font-size: 1.5em;
}

#contact .contact-form form textarea ::-ms-input-placeholder {
  margin-top: 0.5rem;
  font-size: 1.5em;
}

#contact .contact-form form textarea ::placeholder {
  margin-top: 0.5rem;
  font-size: 1.5em;
}

@media screen and (max-width: 840px) {
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact img {
    max-width: 80%;
    z-index: -2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contact .form {
    margin-left: 0rem;
    margin-top: 7rem;
  }
}

@media screen and (max-width: 430px) {
  body {
    overflow-x: hidden;
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact img {
    max-width: 80%;
    z-index: -2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: none;
  }
  #contact .form {
    margin-left: 2rem;
    margin-top: 3rem;
    position: relative;
  }
  #contact .form::after {
    position: absolute;
    content: "";
    background: url("../Assets/contactPhone.png") no-repeat;
    height: 100vh;
    width: 100vw;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    top: 35%;
    z-index: -2;
    left: 50%;
  }
  #contact h1 {
    font-size: 2.3rem;
    line-height: 3.5rem;
    font-family: "Myriad Pro Bold";
  }
  #contact p {
    text-align: start;
    margin: -0.80rem 0rem 3rem 0rem;
  }
  #contact .contact-form {
    z-index: 100;
  }
  #contact .contact-form form input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.65rem;
    width: 70vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.5rem;
    border: 2px solid #efefef;
    border-radius: 10px;
  }
  #contact .contact-form form label {
    padding: 0.5rem 0rem;
  }
  #contact .contact-form form textarea {
    padding: 0.65rem;
    margin-top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #efefef;
    border-radius: 10px;
    width: 70vw;
  }
  #contact .contact-form form textarea ::-webkit-input-placeholder {
    margin-top: 0.5rem;
    font-size: 1.5em;
  }
  #contact .contact-form form textarea :-ms-input-placeholder {
    margin-top: 0.5rem;
    font-size: 1.5em;
  }
  #contact .contact-form form textarea ::-ms-input-placeholder {
    margin-top: 0.5rem;
    font-size: 1.5em;
  }
  #contact .contact-form form textarea ::placeholder {
    margin-top: 0.5rem;
    font-size: 1.5em;
  }
}

footer {
  background-color: #fafafa;
}

footer .footer-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrap .left-footer {
  margin-top: 2rem;
}

footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 85%;
  margin: 1rem auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0rem;
  font-size: 1rem;
  line-height: 1.2rem;
}
/*# sourceMappingURL=contact.css.map */